.app_dashboard {
    background-color: #fafafa;
    height: 100%;
    /* text-align: center; */
}

.dashboard-inner {
    padding-right: 20%;
    padding-left: 20%;
}

.dashboard-inner--lower {
    padding-top: 70px;
    padding-right: 20%;
    padding-left: 30%;
    
}

.header {
    padding: 5px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999999999;
}

.header_img {
    object-fit: contain;
}

.post-img {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post {
    max-width: 550px;
    /* width: 100% !important; */
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 3px;

}
.modal-content{
    margin-top: 100px;
}
.post-text {
    font-weight: normal;
    padding: 20px;

}

.post-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.modal_body {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px; */
    margin: auto;
}

.img-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FAFAFA;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    /* width: 84px;
    height:70px; */
}

.upload-btn-wrapper input[type=file] {
    font-size: 130px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}