body {
  margin: 0 auto;
  height: 100%;
}
* {
  margin: 0px;
}
.App {
  text-align: center;
}
.loginbtn {
  color: #282c34;
}
.icon1 {
  position: absolute;
  left: 70px;
}
.color-red{
  color:red;
}
.innerpart {
  width: 850px;
  height: 400px;
  max-width:2000px;
  /* min-height: 129px; */
  background-color: white;
  border-radius: 0.3rem;
  /* margin: 74px auto; */
  padding: 70px;
}
.innerpart-sign{
  width: 850px;
  height: 560px;
  max-width:2000px;
  /* min-height: 129px; */
  background-color: white;
  border-radius: 0.3rem;
  /* margin: 74px auto; */
  padding: 50px;
}
.input-password {
  padding-left: 35px !important;
}
.color {
  background-color: #f88e02 !important;
  border: 0;
}

.forcolor {
  background-color: #535353;
}
.mainheight {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* background-color: #535353; */ 
} 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.inputss {
  position: relative;
}
.icon {
  position: absolute;
  top: 10px;
  left: 13px;
  /* bottom: 350px;
    left: 270px; */
  color: #575451;
}
.inputlogin {
  width: 30%;
}
.btn-colorcss {
  color: #f99c02;
}
.foricon {
  position: absolute;
  left: 20px;
}
.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.giveheight {
  height: 40px;
}
.input-icons {
  width: 100%;
  margin-bottom: 10px;
}
.forleft {
  display: flex;
    justify-content: center;
    align-items: center;
  border-right: 1px solid #b1a2a2;
  /* padding-left:  50px;  */
  /* margin-top: 0px; */
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #54585b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.rightside-img{
  margin-left: 20px;
}
@media only screen and (max-width: 800px) {
  .rightside-img {
    display: none;
  }
  .forleft {
    border-right: none;
    padding: 0px;
  }
  .col-md-6 {
    flex: none;
    max-width: none;
  }
  .innerpart{
    padding:50px;
    /* wi */
  }
}
@media only screen and (min-width: 400px){
  /* .innerpart{
width: 100px;
  } */
}
.form-head{
  justify-content: center;
  display: flex;
  color:white;
  font-size: 20px;
  font-weight: bold;
}
